:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	background-color: rgb(13, 17, 23);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	font-weight: 500;
	color: #30a14e;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}

body {
	padding: 24px;
}

main {
	max-width: 500px;
	margin: 0 auto;
}

@media (prefers-color-scheme: light) {
	:root {
		background-color: #ffffff;
	}
}

h2 {
	margin-top: 1.5em;
	margin-bottom: 0em;
}

.skeleton {
	display: inline-block;
	height: 1em;
	position: relative;
	overflow: hidden;
	background-color: #dddbdd;
	animation: pulse 2s ease-in-out 0.5s infinite;
	border-radius: 99999px;
}

@keyframes pulse {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.4;
	}
	100% {
		opacity: 1;
	}
}
